<div class="match-stats">
  <div class="players">
    <div class="player player1">
      <div class="player-icon">icon</div>
      <div class="player-name">Player 1</div>
      <div class="player-score">2</div>
    </div>

    <div class="player player2">
      <div class="player-icon">icon</div>
      <div class="player-name">Player 2</div>
      <div class="player-score">5</div>
    </div>
  </div>

  <div class="remaining-ballz">
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
    <div class="ball"></div>
  </div>
</div>
