.help-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  background-color: rgba(77, 77, 77, .5);

  opacity: 1;
  transition: opacity .3s ease-in-out;
}

.hide {
  opacity: 0;
  pointer-events: none;
}
