

<app-ui [showUi]="showUi" [players]="gameService.players$ | async" [totalMatchCount]="gameService.totalMatchCount"></app-ui>

<div class="overlay">
  <button (click)="uiService.showUi()">Show UI</button>
  <button (click)="uiService.hideUi()">Hide UI</button>

  <button (click)="threeJSAPP.interface.toggleFocusCamera()">ToggleCamera</button>
  <button (click)="threeJSAPP.interface.togglePauseState()">PlayPause</button>
  <button (click)="threeJSAPP.interface.respawnBallsRandomly()">Respawn random</button>
  <button (click)="threeJSAPP.interface.startUpGame()">Set up game</button>
</div>

<app-threejs-scene #threeJSAPP
(gameStateChanged)="temp()"
></app-threejs-scene>
