

<app-ui [showUi]="showUi" [players]="gameService.players$ | async" [totalMatchCount]="gameService.totalMatchCount"></app-ui>

<div class="overlay">
  <button (click)="uiService.showUi()">Show UI</button>
  <button (click)="uiService.hideUi()">Hide UI</button>

  <button (click)="threeJSAPP.interface.toggleFocusCamera()">ToggleCamera</button>
  <button (click)="threeJSAPP.interface.togglePauseState()">PlayPause</button>

  <hr>

  <button (click)="threeJSAPP.interface.togglePauseState()">New Game</button>

  <button (click)="threeJSAPP.interface.togglePauseState()">Set Player 1</button>
  <button (click)="threeJSAPP.interface.togglePauseState()">Set Player 2</button>

  <p><b>Active Player: </b>{{activePlayerName}}</p>

  <button (click)="threeJSAPP.interface.togglePauseState()">Sink Ball for active player</button>


</div>

<app-threejs-scene #threeJSAPP
(gameStateChanged)="temp()"
></app-threejs-scene>
