.ui-container {
  // background-color: #ffd90086;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;   // stretch ui -> full page
  left: 0;
  z-index: 20000;

  gap: 1rem;
  width: 100%;

  pointer-events: none;    // REIN!!!

  .menu {
    grid-area: menu;

    margin: 0 auto;
    position: fixed;
    top: 5vh;
    left: 50%;
    transform: translate(-50%, 0);

    pointer-events: all;

    display: flex;
    justify-content: center;
    align-items: center;
    height: min-content;
    width: min-content;
    gap: .5rem;

    .menu-button {
      white-space: nowrap;
      font-size: 1.3rem;
      padding: 1rem 1.4rem;
      font-weight: bold;
      // border-radius: 1rem;
    }
  }

  .player-stats-wrapper {
    // grid-area: left;
    background-color: rgba(255, 255, 255, 0.568);
    padding: 1rem;

    position: absolute;
    top: 50%;
    left: 0;

    transform: translate(0, -50%);

  }

  .match-stats-wrapper {
    grid-area: right;
    position: absolute;
    bottom: 5vh;
    left: 50%;

    transform: translate(-50%, 0);
  }
}
